<h2>Login</h2>
<br>
<br>
<section class="session"></section>
<form id="login" method="post" action="/login">
  <div class="form-group">
    <label for="username" class="photo_style">Username</label>
    <input name="user[username]" type="username" class="form-control" id="username" placeholder="username">
  </div>
  <div class="form-group">
    <label for="password" class="photo_style">Password</label>
    <input name="user[password]" type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="edit_button">Login</button>
</form>