<h2>User Information</h2>
<% @user.errors.full_messages.each do |error| %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= error %>
  </div>
<% end %>
<br>
<br>
<form id="information_upload" method="post" action="/users/<%= @user.id %>" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put"></input>

  <div class="form-group">
    <label for="age" class="photo_style">DOB</label>
    <input name="user[age]" type="text" class="form-control" id="user_age" placeholder="DD/MM/YY" value="<%= @user.age %>">
  </div>

  <div class="form-group">
    <label for="level" class="photo_style">Level</label>
    <input name="user[level]" type="text" class="form-control" id="user_level" placeholder="beginner/intermediate/expert" value="<%= @user.level %>">
  </div>

  <div align="center" class="inline_option">
    <select name="user[gender]" class="edit_button">
      <option <% if @user.gender == 'male' %>selected="selected" <% end %>value="male">Male</option>
      <option <% if @user.gender == 'female' %>selected="selected" <% end %>value="female">Female</option>
      <option <% if @user.gender == 'both' %>selected="selected" <% end %>value="both">Both</option>
    </select>
  </div>

  <div class="form-group" class="inline_option">
    <label for="user[photo]" class="photo_style">Photo</label>
    <input name="user[photo]" type="file" class="choose_file">
  </div>
  <button type="submit" class="edit_button">Update</button>
</form>







