<h2>User Information</h2>
<form id="information_upload" method="post" action="/users/<%= @user.id %>">
  <div class="form-group">
    <label for="age">Age</label>/
    <input name="user[age]" type="text" class="form-control" id="user_age" placeholder="Age">
  </div>
  <div class="form-group">
    <label for="level">Level</label>
    <input name="user[level]" type="text" class="form-control" id="user_level" placeholder="Level">
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <input name="user[gender]" type="text" class="form-control" id="user_gender" placeholder="Gender">
  </div>  
  <button type="submit" class="btn btn-default">Add information</button>
</form>